<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>showAll</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>
<body>
    <main class="container-fluid"></main>
        <div class="row justify-content-center">
            <div class="col-md-4">

                <!-- HOME Button -->
				<div class="homebutton">
					<a href="/rectangles/view">
						<h3 class="text-center"> Home </h3>
					</a>
				</div>
                
                <h1 class="text-center mt-5 mb-4">Viewing All Rectangles</h1><br>

                <!-- Table -->
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Color</th>
                        <th> </th>
                        </tr>
                        <tr th:each="rectangle:${recs}">
                            <td th:text="${rectangle.rid}"></td>
                            <td><a th:href="@{view/} + ${rectangle.rid}" th:text="${rectangle.name}"></a></td>
                            <td th:text="${rectangle.color}"></td>
                            <td>
                                <form th:action="@{/delete/} + ${rectangle.rid}" th:method="post">
                                    <button type="submit" class="btn btn-sm btn-danger">DELETE</button>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>

                <a href="../add.html">
                    <button type="button" class="btn btn-success">Add Rectangle</button>
                </a><br><br>

            <div class="col-md-4">
                <div th:each="rectangle : ${recs}" style="margin-bottom: 10px;">
                    <div th:style="'background-color: ' + ${rectangle.color} + '; width: ' + ${rectangle.width} + 'px; height: ' + ${rectangle.height} + 'px;'"></div>
                    <p th:text="${rectangle.name}"></p>
                </div>
            </div>


            </div>
        </div>
    </main>
</body>
</html>